#about {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3%;
  border-radius: 10px;
  align-self: center; }
  #about img {
    width: 30%;
    float: left;
    margin: 0px 3% 2% 0px; }
  #about p {
    margin: 0px;
    text-align: justify; }
