.exList {
  list-style-type: disc;
  justify-content: flex-start;
  text-align: left; }

.exListCont {
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  margin-top: .3em; }

.exSpacing {
  width: 80%;
  display: flex;
  justify-content: center !important;
  flex-direction: column; }

.exCard {
  width: 100% !important;
  justify-content: center; }
  .exCard h2 {
    font-size: 1.7em;
    margin-bottom: .6em; }
  .exCard h3 {
    font-size: 1.2em; }
  .exCard li {
    font-size: 1em;
    margin-top: .7em;
    line-height: 1.5em; }
