#contact {
  width: 40%;
  background-color: rgba(0, 0, 0, .8);
  padding: 3%;
  border-radius: 10px;
  align-self: center;
  h2 {
    margin-top: 0px;
  }
  img {
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
