// generate column classes

@mixin make-cols ($type) {
  @for $i from 1 through 12 {
    .col-#{$type}-#{$i} {
      width: $i * 95%/12;
      padding: 0px;
      display: flex;
      text-align: center;
      flex-direction: column;
    }
  }
}

$type-sizes: (
  sm: 800px,
  md: 1000px,
  lg: 1200px
);

@each $type, $size in $type-sizes {
  @media screen and (min-width: $size) {
    @include make-cols($type);
  }
}

// small screen queries

@media screen and (max-width: 800px) {
  body {
    font-size: .6em;
  }

  #about {
    width: 75%;
    img{
      width: 50%;
      margin: 2%;
      float: none;
    }
  }
}

//medium screen queries

@media screen and (max-width: 1000px) {
  body {
    font-size: .8em;
  }
}
