// generate column classes

@mixin make-cols ($type) {
  @for $i from 1 through 12 {
    .col-#{$type}-#{$i} {
      width: $i * 95%/12;
      padding: 0px;
      display: flex;
      text-align: center;
      flex-direction: column;
    }
  }
}

// extra large screen queries

@media screen and (max-width: 10000px) {
  body {
    font-size: 1em;
  }

  @include make-cols(xl);
}

//large screen queries

@media screen and (max-width: 1200px) {
  body {
    font-size: 1em;
  }

  @include make-cols(lg);
}

//medium screen queries

@media screen and (max-width: 1000px) {
  body {
    font-size: .9em;
  }

  @include make-cols(md);
}

// small screen queries

@media screen and (max-width: 600px) {
  body {
    font-size: .8em;
  }

  @include make-cols(sm);

  #about {
    width: 75%;
    img{
      width: 50%;
      margin: 2%;
      float: none;
    }
  }
}

